$primary: #2d3e50;
// $primary: #241651;
$secondary: #ff5963;
$ternary: #2374ab;

$color1: #ff8483;
$color2: #861387;
$color3: #4cccbe;
$color4: #241651;
$color5: #2374ab;
$color6: #ffe74c;
$color7: #ff5963;
$color8: #a30b37;
